@-webkit-keyframes navOpen {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes navOpen {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes navIcon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes navIcon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes catalogItemHover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes catalogItemHover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #2f2f32;
  background: #f1f1f1;
  line-height: 1.15;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

@media (max-width: 550px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #2f2f32;
  text-decoration: none;
}

.btn {
  display: block;
  padding: 15px 20px;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  background: #30bd66;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media (max-width: 450px) {
  .btn {
    margin: auto;
  }
}

.btn:hover {
  color: #30bd66;
  background: #fff;
  border: 2px solid #30bd66;
}

ul {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 26px;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.box {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 1100px) {
  .box {
    padding: 0 35px;
  }
}

@media (max-width: 850px) {
  .box {
    padding: 0 25px;
  }
}

@media (max-width: 650px) {
  .box {
    padding: 0 15px;
  }
}

.top-info {
  border-bottom: 1px solid #ddd;
}

.top-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.top-info-box__address {
  display: block;
  margin-right: 60px;
}

.top-info-box__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-info-box .social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0 5px;
  font-size: 20px;
  color: #ffffff;
  background: #727272;
  border-radius: 2px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.top-info-box .social__btn i {
  margin: auto;
}

.top-info-box .social__btn:last-child {
  margin-right: 0;
}

.top-info-box .sc-vk:hover {
  background: #4A76A8;
}

.top-info-box .sc-fb:hover {
  background: #224590;
}

.top-info-box .sc-insta:hover {
  background: #F27F2A;
}

.header {
  margin: 5px 0;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .header-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 450px) {
  .header-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-box__logo {
  background: #f1f1f1;
}

@media (max-width: 1100px) {
  .header-box__logo {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
}

@media (max-width: 450px) {
  .header-box__logo {
    width: auto;
  }
}

.header-box__logo img {
  padding: 15px 0;
  height: 85px;
}

@media (max-width: 1100px) {
  .header-box__logo img {
    margin-right: auto;
    padding: 20px 0;
  }
}

@media (max-width: 650px) {
  .header-box__logo img {
    height: 75px;
  }
}

.header-box__preview {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.header-box__tel, .header-box__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media (max-width: 1100px) {
  .header-box__tel, .header-box__email {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin: 5px 0;
  }
}

.header-box__tel-btn, .header-box__email-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-decoration: underline;
  -webkit-text-decoration-color: #aaaaaa;
          text-decoration-color: #aaaaaa;
  padding: 3px 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-box__tel-btn:hover, .header-box__email-btn:hover {
  color: #30bd66;
}

@media (max-width: 450px) {
  .header-box__tel {
    margin-top: 25px;
  }
}

.header-box__call {
  position: relative;
}

.header-box__call i {
  position: absolute;
  font-size: 18px;
  left: -27px;
  top: 2px;
  color: #30bd66;
}

@media (max-width: 1250px) {
  .header-box__preview {
    display: none;
  }
}

.header-box__call:hover {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  color: #30bd66;
}

@media (max-width: 1100px) {
  .header-box__btn-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}

@media (max-width: 450px) {
  .header-box__btn-form {
    width: 100%;
  }
}

nav {
  position: relative;
  z-index: 10;
  margin-bottom: -10px;
}

@media (max-width: 950px) {
  nav {
    margin-bottom: 0;
  }
}

nav .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2px;
  margin: 10px 0px;
  padding: 0 30px;
  border: 2px solid #30bd66;
  background: #30bd66;
  margin-bottom: 0;
  z-index: 10;
}

@media (max-width: 950px) {
  nav .nav-box {
    -webkit-animation: navOpen .25s linear;
            animation: navOpen .25s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 55px;
    padding: 0;
    -webkit-box-shadow: 60px 0 0 #30bd66, -60px 0 0 #30bd66;
            box-shadow: 60px 0 0 #30bd66, -60px 0 0 #30bd66;
  }
}

nav .nav-box__burger-open, nav .nav-box__burger-close {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  display: none;
  margin: auto;
  color: #f1f1f1;
  font-size: 26px;
  padding: 10px 0px;
  -webkit-animation: navIcon .35s linear;
          animation: navIcon .35s linear;
  text-align: center;
}

@media (max-width: 950px) {
  nav .nav-box__burger-open {
    display: block;
  }
}

nav .nav-box__item {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media (max-width: 950px) {
  nav .nav-box__item {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding: 12px 0;
    width: 100%;
    -webkit-animation: navOpen .25s linear;
            animation: navOpen .25s linear;
  }
}

nav .nav-box__item:hover {
  background: #f1f1f1;
  color: #30bd66;
}

@media (max-width: 950px) {
  nav .nav-box__item:hover {
    -webkit-box-shadow: 60px 0 0 #f1f1f1, -60px 0 0 #f1f1f1;
            box-shadow: 60px 0 0 #f1f1f1, -60px 0 0 #f1f1f1;
  }
}

@media (max-width: 950px) {
  nav .nav-box__item:first-child {
    margin-top: 40px;
  }
}

.slider {
  position: relative;
  width: 100%;
}

.slider .slick-arrow {
  position: absolute;
  z-index: 10;
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: #f1f1f188;
  cursor: pointer;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

@media (max-width: 950px) {
  .slider .slick-arrow {
    width: 34px;
    height: 34px;
    font-size: 34px;
  }
}

.slider .slick-arrow:hover {
  color: #f1f1f1;
}

.slider .slick-prev {
  left: 20px;
  top: 206px;
}

@media (max-width: 950px) {
  .slider .slick-prev {
    top: 153px;
  }
}

.slider .slick-next {
  right: 20px;
  top: 206px;
}

@media (max-width: 950px) {
  .slider .slick-next {
    top: 153px;
  }
}

.slider .slider-dots-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  width: 100%;
}

@media (max-width: 650px) {
  .slider .slider-dots-box {
    bottom: 5px;
  }
}

.slider .slider-dots-box li {
  position: relative;
  margin: 0 7px;
  list-style: none;
  cursor: pointer;
}

.slider .slider-dots-box li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #777777;
  border: 2px solid #ffffff;
  border-radius: 20%;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 450px) {
  .slider .slider-dots-box li::before {
    width: 7px;
    height: 7px;
  }
}

.slider .slider-dots-box li button {
  opacity: 0;
  cursor: pointer;
}

.slider .slider-dots-box .slick-active::before {
  background: #30bd66;
}

.slider__item {
  background: url(../image/sborka-1.jpg) center/cover no-repeat;
  position: relative;
}

.slider__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #00000088;
  z-index: 2;
}

.slider__item .box {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  color: #f1f1f1;
  text-align: center;
}

@media (max-width: 950px) {
  .slider__item .box {
    height: 350px;
  }
}

.slider__title {
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
  z-index: 3;
}

.slider__text {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  z-index: 3;
}

.slider__btn {
  padding: 15px 30px;
  margin: 15px 0;
  z-index: 3;
}

.catalog {
  margin-top: 40px;
}

.catalog__title-one {
  font-size: 33px;
  color: #2f2f32;
}

.catalog__title-second {
  margin-top: 5px;
  font-size: 20px;
  color: #4f4f4f;
}

.catalog .catalog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.catalog .catalog-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 24%;
  height: 175px;
  margin: 10px 1px;
}

@media (max-width: 1200px) {
  .catalog .catalog-box__item {
    width: 32%;
  }
}

@media (max-width: 900px) {
  .catalog .catalog-box__item {
    width: 48%;
  }
}

@media (max-width: 550px) {
  .catalog .catalog-box__item {
    width: 99%;
  }
}

.catalog .catalog-box__item-name {
  padding: 5px 20px;
  background-color: #00000044;
  width: 100%;
  height: auto;
  color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  z-index: 1;
}

.catalog .catalog-box__item-name::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  background: #05130add;
  z-index: 1;
}

.catalog .catalog-box__item:hover .catalog-box__item-name::before {
  -webkit-animation: catalogItemHover .45s linear;
          animation: catalogItemHover .45s linear;
  width: 100%;
}

.catalog .catalog-box__item:hover .catalog-box__go-catalog {
  opacity: 1;
}

.catalog .catalog-box__go-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  position: absolute;
  margin: 0 auto;
  margin-top: 70px;
  width: 100%;
  z-index: 2;
}

.catalog .catalog-box__go-catalog span {
  color: #30bd66;
  border: 2px solid #30bd66;
  -webkit-box-shadow: 0 0 2px #30bd66;
          box-shadow: 0 0 2px #30bd66;
  padding: 10px 7px;
  margin: auto;
}

.about-us {
  margin-top: 50px;
  background: #7a8078;
  color: #f1f1f1;
  padding: 40px 0;
}
/*# sourceMappingURL=style.css.map */