body {
  padding: 0;
  margin: 0;
  color: #1f1f1f;
  background: #f1f1f1;
  line-height: 1.15;
  font-family: 'Istok Web', sans-sef;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.box {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 50px;
}

.top-info {
  border-bottom: 1px solid #ddd;
}

.top-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.top-info-box__address {
  display: block;
  margin-right: 60px;
}

.top-info-box__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-info-box .social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0 5px;
  font-size: 20px;
  color: #ffffff;
  background: #727272;
  border-radius: 3px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.top-info-box .social__btn i {
  margin: auto;
}

.top-info-box .social__btn:last-child {
  margin-right: 0;
}

.top-info-box .sc-vk:hover {
  background: #4A76A8;
}

.top-info-box .sc-fb:hover {
  background: #224590;
}

.top-info-box .sc-insta:hover {
  background: #d15e00;
}

.header {
  margin: 5px 0;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-box__logo {
  background: #f1f1f1;
}

.header-box__preview {
  font-size: 14px;
}

.header-box__tel, .header-box__email {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-box__tel i, .header-box__email i {
  position: absolute;
  font-size: 18px;
  left: -25px;
  top: 0px;
  color: #00af26;
}

.header-box__tel-btn, .header-box__email-btn {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  text-decoration: underline;
  -webkit-text-decoration-color: #aaaaaa;
          text-decoration-color: #aaaaaa;
  padding: 3px 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-box__tel-btn:hover, .header-box__email-btn:hover {
  color: #00af26;
}

.header-box__call:hover {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  color: #00af26;
}

.header-box__btnBkform {
  padding: 15px 20px;
  background: #00af26;
  border-radius: 3px;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header-box__btnBkform:hover {
  color: #00af26;
  background: #fff;
  border: 1px solid #00af26;
}

nav {
  position: relative;
  z-index: 10;
  margin-bottom: -30px;
}

nav .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 0 30px;
  border: 1px solid #00af26;
  background: #00af26;
  margin-bottom: 0;
  z-index: 10;
}

nav .nav-box__item {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

nav .nav-box__item:hover {
  background: #ffffff;
  color: #00af26;
}

.slider {
  position: relative;
  width: 100%;
}

.slider .slick-arrow {
  position: absolute;
  z-index: 1;
}

.slider .slick-prev {
  left: 20px;
  top: 50%;
}

.slider .slick-next {
  right: 20px;
  top: 50%;
}

.slider__item {
  background: url(../image/sborka-1.jpg) center/cover no-repeat;
}

.slider__item .box {
  height: 450px;
}
/*# sourceMappingURL=style.css.map */